[submodule "themes/icalm"]
	path = themes/icarus
	url = https://github.com/antFaiz5z/hexo-theme-icalm.git

[submodule "themes/icarus"]
	path = themes/icarus
	url = https://github.com/antFaiz5z/hexo-theme-icarus.git

[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/antFaiz5z/maupassant-hexo.git
	